*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
nav{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color:#FD6E0A;
}
ul{
    display: flex;
    gap:51px;
    align-items: center;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #474747;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    width:150px;
    height:65px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#bannar{
    max-width: 1332px;
    margin: 46px 38px 0px 230px;
    display: flex;
    align-items: center;
}
#bannar .content{
    max-width: 585px;
}
#bannar .content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#bannar .content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: 181818;
}
#bannar .content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
}
#bannar .image img{
    vertical-align: middle;
}
.button{
    display: flex;
    gap:30px;
}
#bannar .button{
    margin-top: 30px;
}
#bannar .button .btn-design-1{
    padding: 19px 17px 18px 17px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
}
#bannar .button .btn-design-2{
    padding: 19px 17px 18px 17px;
    background-color: white;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border: 2px solid #FD6E0A;
    border-radius: 5px ;
    cursor: pointer;
}
#bannar .image img{
    width: 584px;
}


section .about-me{
    background-color: #FFF8F3;
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 133px;
    border-radius: 10px;
}
section .about-me-content{
    text-align: center;
    padding: 128px 157px 160px 158px; 
}
section .about-me-content h1{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    width: 827px;
}
section .about-me-content .content-P{
    font-size: 18px;
    width: 827px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
section .about-me-info{
    display: flex;
    justify-content: space-between;
    width: 782;
    padding-left: 22.5px;
    padding-right: 22.5px;
}

section .skill-container{
    padding-top: 101px; 
    max-width: 1140px;
    margin: 0 auto;
}

section .skill-container-content{
    max-width: 827px;
    margin: 0 auto;
}
section .skill-container-content h1{
    max-width: 167px;
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 40px;
    color: #181818;
}
section .skill-container-content p{
    max-width: 827px;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    line-height: 30px;
    padding-bottom: 40px;
}
section .skill-cards{
    display: flex;
    gap: 24px;
}

section .skill-cards-content{
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #e3e1e1;
}
section .skill-cards-content img{
    padding: 30px;
}
section .skill-cards-content h3{
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #181818;
}
section .skill-cards-content p{
    padding: 20px 33px 30px 33px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}